#card {
    background-color: white;
    color: black;
    padding: 7px;
    font: normal 10pt Arial; 
    display: grid;
    border: solid;
    border-width: 1px;
    gap: 5px;
    justify-content: center;
    margin: 5px;
}

#tarefa,#prazo {
    width: 200px;
    display: flex;
    gap: 5px;
    align-items: center;
}

#tarefa {
    text-align: justify;
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 3px;
    border-color: gray;

}